html, body{
    /* vh = viewport height / window height */
    min-height: 100vh;
}
body{
    background-color:deeppink;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.logo{
    width: 300px;
}